In [46]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Cleaning the combined data

In [47]:
df = pd.read_csv('../Data/combined_skin_cancer.csv')
df

,smoke,drink,background_father,background_mother,age,pesticide,gender,skin_cancer_history,cancer_history,has_piped_water,...,diameter_1,diameter_2,diagnostic,itch,grew,hurt,changed,bleed,elevation,biopsed
0,False,False,POMERANIA,POMERANIA,55.0,False,FEMALE,True,True,True,...,6.0,5.0,BCC,TRUE,TRUE,FALSE,TRUE,TRUE,TRUE,True
1,False,True,POMERANIA,POMERANIA,79.0,False,MALE,True,False,False,...,5.0,5.0,BCC,TRUE,TRUE,FALSE,FALSE,TRUE,TRUE,True
2,False,True,GERMANY,ITALY,52.0,False,FEMALE,False,True,True,...,15.0,10.0,BCC,FALSE,TRUE,FALSE,TRUE,TRUE,TRUE,True
3,False,False,POMERANIA,POMERANIA,74.0,True,FEMALE,False,False,False,...,15.0,10.0,BCC,TRUE,TRUE,TRUE,FALSE,TRUE,TRUE,True
4,False,True,GERMANY,GERMANY,58.0,True,FEMALE,True,True,True,...,9.0,7.0,ACK,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700,False,False,Saudi,Saudi,23.0,True,FEMALE,False,True,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1701,False,False,Saudi,Saudi,27.0,False,FEMALE,False,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1702,True,True,Saudi,Saudi,23.0,False,MALE,False,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1703,False,False,Saudi,Saudi,23.0,True,FEMALE,False,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1704,False,False,Saudi,Saudi,21.0,False,FEMALE,False,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   smoke                1705 non-null   bool
 1   drink                1705 non-null   bool
 2   background_father    1705 non-null   object
 3   background_mother    1705 non-null   object
 4   age                  1704 non-null   float64
 5   pesticide            1705 non-null   bool
 6   gender               1705 non-null   object
 7   skin_cancer_history  1705 non-null   bool
 8   cancer_history       1705 non-null   bool
 9   has_piped_water      1705 non-null   bool
 10  has_sewage_system    1705 non-null   bool
 11  fitspatrick          1494 non-null   float64
 12  region               1494 non-null   object
 13  diameter_1           1494 non-null   float64
 14  diameter_2           1494 non-null   float64
 15  diagnostic           1494 non-null   object
 16  itch                 1494 non-null   object
 17  grew                 1494 non-null   object
 18  hurt                 1494 non-null   object
 19  changed              1494 non-null   object
 20  bleed                1494 non-null   object
 21  elevation            1494 non-null   object
 22  biopsed              1494 non-null   object
dtypes: bool(7), float64(4), object(12)
memory usage: 224.9+ KB

In [49]:
df[df.select_dtypes(include=['object']).columns] = df.select_dtypes(include=['object']).astype(str).apply(lambda x: x.str.upper())
df

,smoke,drink,background_father,background_mother,age,pesticide,gender,skin_cancer_history,cancer_history,has_piped_water,...,diameter_1,diameter_2,diagnostic,itch,grew,hurt,changed,bleed,elevation,biopsed
0,False,False,POMERANIA,POMERANIA,55.0,False,FEMALE,True,True,True,...,6.0,5.0,BCC,TRUE,TRUE,FALSE,TRUE,TRUE,TRUE,TRUE
1,False,True,POMERANIA,POMERANIA,79.0,False,MALE,True,False,False,...,5.0,5.0,BCC,TRUE,TRUE,FALSE,FALSE,TRUE,TRUE,TRUE
2,False,True,GERMANY,ITALY,52.0,False,FEMALE,False,True,True,...,15.0,10.0,BCC,FALSE,TRUE,FALSE,TRUE,TRUE,TRUE,TRUE
3,False,False,POMERANIA,POMERANIA,74.0,True,FEMALE,False,False,False,...,15.0,10.0,BCC,TRUE,TRUE,TRUE,FALSE,TRUE,TRUE,TRUE
4,False,True,GERMANY,GERMANY,58.0,True,FEMALE,True,True,True,...,9.0,7.0,ACK,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700,False,False,SAUDI,SAUDI,23.0,True,FEMALE,False,True,True,...,NaN,NaN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1701,False,False,SAUDI,SAUDI,27.0,False,FEMALE,False,False,True,...,NaN,NaN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1702,True,True,SAUDI,SAUDI,23.0,False,MALE,False,False,True,...,NaN,NaN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1703,False,False,SAUDI,SAUDI,23.0,True,FEMALE,False,False,True,...,NaN,NaN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1704,False,False,SAUDI,SAUDI,21.0,False,FEMALE,False,False,True,...,NaN,NaN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN

In [50]:
# print objects with true and false 
df.select_dtypes(include=['object']).apply(lambda x: x.str.contains('TRUE|FALSE')).sum()
# if sum is > 0 then create a list of columns

background_father       0
background_mother       0
gender                  0
region                  0
diagnostic              0
itch                 1488
grew                 1092
hurt                 1484
changed              1098
bleed                1488
elevation            1492
biopsed              1494
dtype: int64

In [51]:
lsit =['itch','grew','hurt','changed','bleed','elevation','biopsed']
# convert unkown and unk to false 
df[lsit] = df[lsit].replace({'UNKOWN':False,'UNK':False,'NAN':False})

df[lsit] = df[lsit].replace({'TRUE':True,'FALSE':False})

/var/folders/jh/zgqt24qj3_n6m12h05s8spkr0000gn/T/ipykernel_22766/687489207.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[lsit] = df[lsit].replace({'TRUE':True,'FALSE':False})

In [52]:
def print_unique_col_values(df):
    for column in df:
        # if df[column].dtype == 'object':
        print(f'{column}: {df[column].unique()}')

In [53]:
print_unique_col_values(df)

smoke: [False  True]
drink: [False  True]
background_father: ['POMERANIA' 'GERMANY' 'BRAZIL' 'NETHERLANDS' 'ITALY' 'POLAND' 'UNK'
 'PORTUGAL' 'UNKNOWN' 'BRASIL' 'CZECH' 'AUSTRIA' 'SPAIN' 'ISRAEL' 'SAUDI'
 'SAUDI ' 'BAHRAINI' 'BAHRAINI ' 'EGYPTIAN ']
background_mother: ['POMERANIA' 'ITALY' 'GERMANY' 'BRAZIL' 'UNK' 'UNKNOWN' 'POLAND' 'NORWAY'
 'PORTUGAL' 'NETHERLANDS' 'FRANCE' 'SPAIN' 'SAUDI' 'SAUDI ' 'BAHRAINI'
 'EGYPTIAN ' 'KUWAITI']
age: [55. 79. 52. 74. 58. 34. 78. 77. 60. 64. 61. 71. 38. 54. 82. 62. 63. 49.
 31. 36. 75. 44. 56. 80. 76. 48. 51. 47. 35. 87. 53. 69. 59. 57. 83. 92.
 67. 46. 66. 70. 85. 41. 65. 72. 14. 21. 94. 73. 43. 90. 89. 39. 26. 40.
 13. 30. 68. 50. 22. 81. 84. 88. 86. 37. 32. 45. 27. 33. 20. 91. 42. 17.
 16. 24. 23. 19. 18. 25. nan]
pesticide: [False  True]
gender: ['FEMALE' 'MALE']
skin_cancer_history: [ True False]
cancer_history: [ True False]
has_piped_water: [ True False]
has_sewage_system: [ True False]
fitspatrick: [ 3.  1.  2.  4.  5.  6. nan]
region: ['NECK' 'FOREARM' 'FACE' 'NOSE' 'CHEST' 'THIGH' 'EAR' 'BACK' 'ARM' 'HAND'
 'FOOT' 'SCALP' 'ABDOMEN' 'LIP' 'NAN']
diameter_1: [  6.    5.   15.    9.   20.   14.   13.    3.    7.   10.    8.   11.
   4.   40.   18.   32.   23.   16.   12.   30.   19.    2.   17.   22.
  24.   31.   35.   25.   21.    0.   60.    1.    1.2  89.   26.   42.
  29.   90.  100.   70.   45.   50.    nan]
diameter_2: [ 5.  10.   7.   4.  18.  12.  13.   3.   8.   9.   6.  11.  20.  15.
 24.   2.  14.  21.  16.  25.   1.   0.  33.  40.  23.  17.  27.  22.
 30.   1.2 26.  34.  19.  70.  60.  28.  32.  48.   nan]
diagnostic: ['BCC' 'ACK' 'SCC' 'SEK' 'NEV' 'MEL' 'NAN']
itch: [ True False]
grew: [ True False]
hurt: [False  True]
changed: [ True False]
bleed: [ True False]
elevation: [ True False]
biopsed: [ True False]

In [54]:
# print objects with true and false 
df.select_dtypes(include=['object']).apply(lambda x: x.str.contains('TRUE|FALSE')).sum()

background_father    0
background_mother    0
gender               0
region               0
diagnostic           0
dtype: int64

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   smoke                1705 non-null   bool
 1   drink                1705 non-null   bool
 2   background_father    1705 non-null   object
 3   background_mother    1705 non-null   object
 4   age                  1704 non-null   float64
 5   pesticide            1705 non-null   bool
 6   gender               1705 non-null   object
 7   skin_cancer_history  1705 non-null   bool
 8   cancer_history       1705 non-null   bool
 9   has_piped_water      1705 non-null   bool
 10  has_sewage_system    1705 non-null   bool
 11  fitspatrick          1494 non-null   float64
 12  region               1705 non-null   object
 13  diameter_1           1494 non-null   float64
 14  diameter_2           1494 non-null   float64
 15  diagnostic           1705 non-null   object
 16  itch                 1705 non-null   bool
 17  grew                 1705 non-null   bool
 18  hurt                 1705 non-null   bool
 19  changed              1705 non-null   bool
 20  bleed                1705 non-null   bool
 21  elevation            1705 non-null   bool
 22  biopsed              1705 non-null   bool
dtypes: bool(14), float64(4), object(5)
memory usage: 143.3+ KB

In [56]:
# print unique values in diagnosis
df['diagnostic'].unique()
# REPLACE nAn with healthy
df['diagnostic'] = df['diagnostic'].replace({'NAN':'HEALTHY'})

In [57]:
df['diagnostic'].unique()
diagnosis=['BCC', 'ACK', 'SCC', 'SEK', 'NEV', 'MEL']

df['diagnostic'] = df['diagnostic'].replace(diagnosis, 1).fillna(0)

# df['diagnostic'] = df['diagnostic'].replace({'HEALTHY':0, 'diagnosis':1})

In [58]:
df['diagnostic'].unique()

array(['BCC', 'ACK', 'SCC', 'SEK', 'NEV', 'MEL', 0], dtype=object)

In [59]:
# # Fill missing values in numeric columns with 0
# numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns
# df[numeric_columns] = df[numeric_columns].fillna(0)

# # Convert "TRUE" or "FALSE" columns to boolean and handle missing/unknown values
# # Assuming you know which columns these are or they are identified as object type with specific values
# for col in df.select_dtypes(include=['object']).columns:
#     if df[col].isin(['TRUE', 'FALSE', 'UNKNOWN']).all():  # Checks if all values are TRUE, FALSE, or UNKNOWN
#         df[col] = df[col].replace({'TRUE': True, 'FALSE': False, 'UNKNOWN': False})
#         df[col] = df[col].fillna(False)
#         df[col] = df[col].astype(bool)
#     else:
#         # For other object type columns, fill missing values with 'UNKNOWN'
#         df[col] = df[col].fillna('UNKNOWN')

# # Note: This loop over object columns treats any column with exclusively TRUE, FALSE, and UNKNOWN
# # as a boolean column. Adjust the logic if your dataset might have object columns with these values
# # that should not be treated as boolean.

In [60]:
df

,smoke,drink,background_father,background_mother,age,pesticide,gender,skin_cancer_history,cancer_history,has_piped_water,...,diameter_1,diameter_2,diagnostic,itch,grew,hurt,changed,bleed,elevation,biopsed
0,False,False,POMERANIA,POMERANIA,55.0,False,FEMALE,True,True,True,...,6.0,5.0,BCC,True,True,False,True,True,True,True
1,False,True,POMERANIA,POMERANIA,79.0,False,MALE,True,False,False,...,5.0,5.0,BCC,True,True,False,False,True,True,True
2,False,True,GERMANY,ITALY,52.0,False,FEMALE,False,True,True,...,15.0,10.0,BCC,False,True,False,True,True,True,True
3,False,False,POMERANIA,POMERANIA,74.0,True,FEMALE,False,False,False,...,15.0,10.0,BCC,True,True,True,False,True,True,True
4,False,True,GERMANY,GERMANY,58.0,True,FEMALE,True,True,True,...,9.0,7.0,ACK,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700,False,False,SAUDI,SAUDI,23.0,True,FEMALE,False,True,True,...,NaN,NaN,0,False,False,False,False,False,False,False
1701,False,False,SAUDI,SAUDI,27.0,False,FEMALE,False,False,True,...,NaN,NaN,0,False,False,False,False,False,False,False
1702,True,True,SAUDI,SAUDI,23.0,False,MALE,False,False,True,...,NaN,NaN,0,False,False,False,False,False,False,False
1703,False,False,SAUDI,SAUDI,23.0,True,FEMALE,False,False,True,...,NaN,NaN,0,False,False,False,False,False,False,False
1704,False,False,SAUDI,SAUDI,21.0,False,FEMALE,False,False,True,...,NaN,NaN,0,False,False,False,False,False,False,False