In [4]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
Health_df = pd.read_csv("Healthy_Skin_Cancer.csv")
Cancer_df = pd.read_csv("metadata.csv")

# Healthy cleaning

In [6]:
Health_df

,smoke,drink,skin_cancer_history,age,gender,pesticide,cancer_history,background_father,background_mother,has_piped_water,has_sewage_system
0,No,No,No,22.0,Female,No,Yes,Saudi,Saudi,Yes,Yes
1,No,No,No,23.0,Female,No,Yes,Saudi,Saudi,Yes,Yes
2,No,No,No,22.0,Female,No,Yes,Saudi,Saudi,Yes,Yes
3,No,No,No,37.0,Female,Yes,No,Saudi,Saudi,Yes,Yes
4,No,No,No,23.0,Female,No,No,Saudi,Saudi,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...
206,No,No,No,23.0,Female,Yes,Yes,Saudi,Saudi,Yes,Yes
207,No,No,No,27.0,Female,No,No,Saudi,Saudi,Yes,Yes
208,Yes,Yes,No,23.0,Male,No,No,Saudi,Saudi,Yes,Yes
209,No,No,No,23.0,Female,Yes,No,Saudi,Saudi,Yes,No
210,No,No,No,21.0,Female,No,No,Saudi,Saudi,Yes,Yes

In [7]:
Health_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   smoke                211 non-null    object
 1   drink                211 non-null    object
 2   skin_cancer_history  211 non-null    object
 3   age                  210 non-null    float64
 4   gender               211 non-null    object
 5   pesticide            211 non-null    object
 6   cancer_history       211 non-null    object
 7   background_father    211 non-null    object
 8   background_mother    211 non-null    object
 9   has_piped_water      211 non-null    object
 10  has_sewage_system    211 non-null    object
dtypes: float64(1), object(10)
memory usage: 18.3+ KB

In [8]:
Cancer_df

,patient_id,lesion_id,smoke,drink,background_father,background_mother,age,pesticide,gender,skin_cancer_history,...,diameter_2,diagnostic,itch,grew,hurt,changed,bleed,elevation,img_id,biopsed
0,PAT_1516,1765,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,...,NaN,NEV,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1516_1765_530.png,False
1,PAT_46,881,False,False,POMERANIA,POMERANIA,55,False,FEMALE,True,...,5.0,BCC,TRUE,TRUE,FALSE,TRUE,TRUE,TRUE,PAT_46_881_939.png,True
2,PAT_1545,1867,NaN,NaN,NaN,NaN,77,NaN,NaN,NaN,...,NaN,ACK,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1545_1867_547.png,False
3,PAT_1989,4061,NaN,NaN,NaN,NaN,75,NaN,NaN,NaN,...,NaN,ACK,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1989_4061_934.png,False
4,PAT_684,1302,False,True,POMERANIA,POMERANIA,79,False,MALE,True,...,5.0,BCC,TRUE,TRUE,FALSE,FALSE,TRUE,TRUE,PAT_684_1302_588.png,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2293,PAT_1708,3156,NaN,NaN,NaN,NaN,73,NaN,NaN,NaN,...,NaN,ACK,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1708_3156_175.png,False
2294,PAT_46,880,False,False,POMERANIA,POMERANIA,55,False,FEMALE,True,...,12.0,BCC,TRUE,TRUE,FALSE,TRUE,FALSE,FALSE,PAT_46_880_140.png,True
2295,PAT_1343,1217,NaN,NaN,NaN,NaN,74,NaN,NaN,NaN,...,NaN,SEK,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1343_1217_404.png,False
2296,PAT_326,690,False,False,POMERANIA,POMERANIA,58,True,FEMALE,True,...,4.0,BCC,TRUE,FALSE,FALSE,FALSE,FALSE,TRUE,PAT_326_690_823.png,True
2297,PAT_1714,3189,NaN,NaN,NaN,NaN,41,NaN,NaN,NaN,...,NaN,SEK,FALSE,TRUE,FALSE,FALSE,FALSE,TRUE,PAT_1714_3189_989.png,False

In [9]:
Cancer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2298 entries, 0 to 2297
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   patient_id           2298 non-null   object
 1   lesion_id            2298 non-null   int64
 2   smoke                1494 non-null   object
 3   drink                1494 non-null   object
 4   background_father    1480 non-null   object
 5   background_mother    1476 non-null   object
 6   age                  2298 non-null   int64
 7   pesticide            1494 non-null   object
 8   gender               1494 non-null   object
 9   skin_cancer_history  1494 non-null   object
 10  cancer_history       1494 non-null   object
 11  has_piped_water      1494 non-null   object
 12  has_sewage_system    1494 non-null   object
 13  fitspatrick          1494 non-null   float64
 14  region               2298 non-null   object
 15  diameter_1           1494 non-null   float64
 16  diameter_2           1494 non-null   float64
 17  diagnostic           2298 non-null   object
 18  itch                 2298 non-null   object
 19  grew                 2298 non-null   object
 20  hurt                 2298 non-null   object
 21  changed              2298 non-null   object
 22  bleed                2298 non-null   object
 23  elevation            2298 non-null   object
 24  img_id               2298 non-null   object
 25  biopsed              2298 non-null   bool
dtypes: bool(1), float64(3), int64(2), object(20)
memory usage: 451.2+ KB

In [10]:
Cancer_df['age'].describe()

count    2298.000000
mean       60.464752
std        15.894866
min         6.000000
25%        52.000000
50%        62.000000
75%        72.000000
max        94.000000
Name: age, dtype: float64

In [11]:
null_attributes = ['smoke', 'drink', 'background_father', 'background_mother', 'pesticide', 'gender', 'skin_cancer_history', 'cancer_history', 'has_piped_water', 'has_sewage_system', 'fitspatrick', 'diameter_1', 'diameter_2']
null_rows = Cancer_df[Cancer_df[null_attributes].isnull().all(axis=1)]
null_rows

,patient_id,lesion_id,smoke,drink,background_father,background_mother,age,pesticide,gender,skin_cancer_history,...,diameter_2,diagnostic,itch,grew,hurt,changed,bleed,elevation,img_id,biopsed
0,PAT_1516,1765,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,...,NaN,NEV,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1516_1765_530.png,False
2,PAT_1545,1867,NaN,NaN,NaN,NaN,77,NaN,NaN,NaN,...,NaN,ACK,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1545_1867_547.png,False
3,PAT_1989,4061,NaN,NaN,NaN,NaN,75,NaN,NaN,NaN,...,NaN,ACK,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1989_4061_934.png,False
5,PAT_1549,1882,NaN,NaN,NaN,NaN,53,NaN,NaN,NaN,...,NaN,SEK,TRUE,FALSE,FALSE,FALSE,FALSE,TRUE,PAT_1549_1882_230.png,False
8,PAT_1995,4080,NaN,NaN,NaN,NaN,68,NaN,NaN,NaN,...,NaN,ACK,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE,PAT_1995_4080_695.png,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2288,PAT_1407,1402,NaN,NaN,NaN,NaN,81,NaN,NaN,NaN,...,NaN,ACK,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1407_1402_562.png,False
2290,PAT_1294,1031,NaN,NaN,NaN,NaN,35,NaN,NaN,NaN,...,NaN,ACK,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,PAT_1294_1031_466.png,False
2293,PAT_1708,3156,NaN,NaN,NaN,NaN,73,NaN,NaN,NaN,...,NaN,ACK,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1708_3156_175.png,False
2295,PAT_1343,1217,NaN,NaN,NaN,NaN,74,NaN,NaN,NaN,...,NaN,SEK,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,PAT_1343_1217_404.png,False
2297,PAT_1714,3189,NaN,NaN,NaN,NaN,41,NaN,NaN,NaN,...,NaN,SEK,FALSE,TRUE,FALSE,FALSE,FALSE,TRUE,PAT_1714_3189_989.png,False

In [12]:
Cancer_df = Cancer_df.drop(null_rows.index)
Cancer_df

,patient_id,lesion_id,smoke,drink,background_father,background_mother,age,pesticide,gender,skin_cancer_history,...,diameter_2,diagnostic,itch,grew,hurt,changed,bleed,elevation,img_id,biopsed
1,PAT_46,881,False,False,POMERANIA,POMERANIA,55,False,FEMALE,True,...,5.0,BCC,TRUE,TRUE,FALSE,TRUE,TRUE,TRUE,PAT_46_881_939.png,True
4,PAT_684,1302,False,True,POMERANIA,POMERANIA,79,False,MALE,True,...,5.0,BCC,TRUE,TRUE,FALSE,FALSE,TRUE,TRUE,PAT_684_1302_588.png,True
6,PAT_778,1471,False,True,GERMANY,ITALY,52,False,FEMALE,False,...,10.0,BCC,FALSE,TRUE,FALSE,TRUE,TRUE,TRUE,PAT_778_1471_835.png,True
7,PAT_117,179,False,False,POMERANIA,POMERANIA,74,True,FEMALE,False,...,10.0,BCC,TRUE,TRUE,TRUE,FALSE,TRUE,TRUE,PAT_117_179_983.png,True
9,PAT_705,4015,False,True,GERMANY,GERMANY,58,True,FEMALE,True,...,7.0,ACK,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,PAT_705_4015_413.png,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2289,PAT_386,785,True,False,POMERANIA,POMERANIA,66,False,MALE,True,...,15.0,ACK,TRUE,FALSE,TRUE,FALSE,TRUE,TRUE,PAT_386_785_536.png,True
2291,PAT_273,421,False,False,POMERANIA,POMERANIA,41,True,MALE,False,...,5.0,BCC,TRUE,UNK,TRUE,UNK,TRUE,TRUE,PAT_273_421_905.png,True
2292,PAT_491,934,False,False,POMERANIA,POMERANIA,43,True,FEMALE,True,...,5.0,SCC,TRUE,UNK,FALSE,UNK,TRUE,TRUE,PAT_491_934_46.png,True
2294,PAT_46,880,False,False,POMERANIA,POMERANIA,55,False,FEMALE,True,...,12.0,BCC,TRUE,TRUE,FALSE,TRUE,FALSE,FALSE,PAT_46_880_140.png,True
2296,PAT_326,690,False,False,POMERANIA,POMERANIA,58,True,FEMALE,True,...,4.0,BCC,TRUE,FALSE,FALSE,FALSE,FALSE,TRUE,PAT_326_690_823.png,True

In [13]:
Cancer_df.isnull().sum()

patient_id              0
lesion_id               0
smoke                   0
drink                   0
background_father      14
background_mother      18
age                     0
pesticide               0
gender                  0
skin_cancer_history     0
cancer_history          0
has_piped_water         0
has_sewage_system       0
fitspatrick             0
region                  0
diameter_1              0
diameter_2              0
diagnostic              0
itch                    0
grew                    0
hurt                    0
changed                 0
bleed                   0
elevation               0
img_id                  0
biopsed                 0
dtype: int64

In [14]:
Cancer_df['background_father'].fillna('unknown', inplace=True)
Cancer_df['background_mother'].fillna('unknown', inplace=True)
Cancer_df.isnull().sum()

/var/folders/jh/zgqt24qj3_n6m12h05s8spkr0000gn/T/ipykernel_21635/2307630522.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Cancer_df['background_father'].fillna('unknown', inplace=True)
/var/folders/jh/zgqt24qj3_n6m12h05s8spkr0000gn/T/ipykernel_21635/2307630522.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Cancer_df['background_mother'].fillna('unknown', inplace=True)

patient_id             0
lesion_id              0
smoke                  0
drink                  0
background_father      0
background_mother      0
age                    0
pesticide              0
gender                 0
skin_cancer_history    0
cancer_history         0
has_piped_water        0
has_sewage_system      0
fitspatrick            0
region                 0
diameter_1             0
diameter_2             0
diagnostic             0
itch                   0
grew                   0
hurt                   0
changed                0
bleed                  0
elevation              0
img_id                 0
biopsed                0
dtype: int64

In [15]:
Cancer_df.drop(['patient_id', 'lesion_id','img_id'], axis=1, inplace=True)

In [16]:
Cancer_df.to_csv('Clean_Skin_Cancer.csv', index=False)

In [17]:
Health_df

,smoke,drink,skin_cancer_history,age,gender,pesticide,cancer_history,background_father,background_mother,has_piped_water,has_sewage_system
0,No,No,No,22.0,Female,No,Yes,Saudi,Saudi,Yes,Yes
1,No,No,No,23.0,Female,No,Yes,Saudi,Saudi,Yes,Yes
2,No,No,No,22.0,Female,No,Yes,Saudi,Saudi,Yes,Yes
3,No,No,No,37.0,Female,Yes,No,Saudi,Saudi,Yes,Yes
4,No,No,No,23.0,Female,No,No,Saudi,Saudi,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...
206,No,No,No,23.0,Female,Yes,Yes,Saudi,Saudi,Yes,Yes
207,No,No,No,27.0,Female,No,No,Saudi,Saudi,Yes,Yes
208,Yes,Yes,No,23.0,Male,No,No,Saudi,Saudi,Yes,Yes
209,No,No,No,23.0,Female,Yes,No,Saudi,Saudi,Yes,No
210,No,No,No,21.0,Female,No,No,Saudi,Saudi,Yes,Yes

In [18]:
# Aligning column names and data types where necessary

# Mapping of column names from healthy to clean dataset where they directly correspond
column_name_mapping = {
    'smoke': 'smoke',
    'drink': 'drink',
    'skin_cancer_history': 'skin_cancer_history',
    'age': 'age',
    'gender': 'gender',
    'pesticide': 'pesticide',
    'cancer_history': 'cancer_history',
    'background_father': 'background_father',
    'background_mother': 'background_mother',
    'has_piped_water': 'has_piped_water',
    'has_sewage_system': 'has_sewage_system'
}

# Adjusting values in the healthy dataset to match the format of the clean dataset
# For boolean columns, mapping 'Yes'/'No' to True/False respectively
boolean_columns = ['smoke', 'drink', 'skin_cancer_history', 'pesticide', 'cancer_history', 'has_piped_water', 'has_sewage_system']
for col in boolean_columns:
    Health_df[col] = Health_df[col].map({'Yes': True, 'No': False})

# For gender, ensuring consistency
gender_mapping = {'Female': 'FEMALE', 'Male': 'MALE'}
Health_df['gender'] = Health_df['gender'].map(gender_mapping)

# Renaming columns in the healthy dataset to match the clean dataset
healthy_skin_cancer_df_renamed = Health_df.rename(columns=column_name_mapping)

# Combining the datasets
combined_df = pd.concat([Cancer_df, healthy_skin_cancer_df_renamed], ignore_index=True, sort=False)

# Displaying the first few rows of the combined dataframe and its info to verify the merge

In [19]:
# save to csv
combined_df.to_csv('combined_skin_cancer.csv', index=False)
combined_df

,smoke,drink,background_father,background_mother,age,pesticide,gender,skin_cancer_history,cancer_history,has_piped_water,...,diameter_1,diameter_2,diagnostic,itch,grew,hurt,changed,bleed,elevation,biopsed
0,False,False,POMERANIA,POMERANIA,55.0,False,FEMALE,True,True,True,...,6.0,5.0,BCC,TRUE,TRUE,FALSE,TRUE,TRUE,TRUE,True
1,False,True,POMERANIA,POMERANIA,79.0,False,MALE,True,False,False,...,5.0,5.0,BCC,TRUE,TRUE,FALSE,FALSE,TRUE,TRUE,True
2,False,True,GERMANY,ITALY,52.0,False,FEMALE,False,True,True,...,15.0,10.0,BCC,FALSE,TRUE,FALSE,TRUE,TRUE,TRUE,True
3,False,False,POMERANIA,POMERANIA,74.0,True,FEMALE,False,False,False,...,15.0,10.0,BCC,TRUE,TRUE,TRUE,FALSE,TRUE,TRUE,True
4,False,True,GERMANY,GERMANY,58.0,True,FEMALE,True,True,True,...,9.0,7.0,ACK,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700,False,False,Saudi,Saudi,23.0,True,FEMALE,False,True,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1701,False,False,Saudi,Saudi,27.0,False,FEMALE,False,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1702,True,True,Saudi,Saudi,23.0,False,MALE,False,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1703,False,False,Saudi,Saudi,23.0,True,FEMALE,False,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1704,False,False,Saudi,Saudi,21.0,False,FEMALE,False,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN