In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Cleaning the combined data

In [4]:
df = pd.read_csv('../Data/combined_skin_cancer.csv')
df

,smoke,drink,background_father,background_mother,age,pesticide,gender,skin_cancer_history,cancer_history,has_piped_water,...,diameter_1,diameter_2,diagnostic,itch,grew,hurt,changed,bleed,elevation,biopsed
0,False,False,POMERANIA,POMERANIA,55,False,FEMALE,True,True,True,...,6.0,5.0,BCC,TRUE,TRUE,FALSE,TRUE,TRUE,TRUE,True
1,False,True,POMERANIA,POMERANIA,79,False,MALE,True,False,False,...,5.0,5.0,BCC,TRUE,TRUE,FALSE,FALSE,TRUE,TRUE,True
2,False,True,GERMANY,ITALY,52,False,FEMALE,False,True,True,...,15.0,10.0,BCC,FALSE,TRUE,FALSE,TRUE,TRUE,TRUE,True
3,False,False,POMERANIA,POMERANIA,74,True,FEMALE,False,False,False,...,15.0,10.0,BCC,TRUE,TRUE,TRUE,FALSE,TRUE,TRUE,True
4,False,True,GERMANY,GERMANY,58,True,FEMALE,True,True,True,...,9.0,7.0,ACK,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700,False,False,Saudi,Saudi,23,True,FEMALE,False,True,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1701,False,False,Saudi,Saudi,27,False,FEMALE,False,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1702,True,True,Saudi,Saudi,23,False,MALE,False,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1703,False,False,Saudi,Saudi,23,True,FEMALE,False,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1704,False,False,Saudi,Saudi,21,False,FEMALE,False,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   smoke                1705 non-null   bool
 1   drink                1705 non-null   bool
 2   background_father    1705 non-null   object
 3   background_mother    1705 non-null   object
 4   age                  1705 non-null   int64
 5   pesticide            1705 non-null   bool
 6   gender               1705 non-null   object
 7   skin_cancer_history  1705 non-null   bool
 8   cancer_history       1705 non-null   bool
 9   has_piped_water      1705 non-null   bool
 10  has_sewage_system    1705 non-null   bool
 11  fitspatrick          1494 non-null   float64
 12  region               1494 non-null   object
 13  diameter_1           1494 non-null   float64
 14  diameter_2           1494 non-null   float64
 15  diagnostic           1494 non-null   object
 16  itch                 1494 non-null   object
 17  grew                 1494 non-null   object
 18  hurt                 1494 non-null   object
 19  changed              1494 non-null   object
 20  bleed                1494 non-null   object
 21  elevation            1494 non-null   object
 22  biopsed              1494 non-null   object
dtypes: bool(7), float64(3), int64(1), object(12)
memory usage: 224.9+ KB

In [6]:
df[df.select_dtypes(include=['object']).columns] = df.select_dtypes(include=['object']).astype(str).apply(lambda x: x.str.upper())
df

,smoke,drink,background_father,background_mother,age,pesticide,gender,skin_cancer_history,cancer_history,has_piped_water,...,diameter_1,diameter_2,diagnostic,itch,grew,hurt,changed,bleed,elevation,biopsed
0,False,False,POMERANIA,POMERANIA,55,False,FEMALE,True,True,True,...,6.0,5.0,BCC,TRUE,TRUE,FALSE,TRUE,TRUE,TRUE,TRUE
1,False,True,POMERANIA,POMERANIA,79,False,MALE,True,False,False,...,5.0,5.0,BCC,TRUE,TRUE,FALSE,FALSE,TRUE,TRUE,TRUE
2,False,True,GERMANY,ITALY,52,False,FEMALE,False,True,True,...,15.0,10.0,BCC,FALSE,TRUE,FALSE,TRUE,TRUE,TRUE,TRUE
3,False,False,POMERANIA,POMERANIA,74,True,FEMALE,False,False,False,...,15.0,10.0,BCC,TRUE,TRUE,TRUE,FALSE,TRUE,TRUE,TRUE
4,False,True,GERMANY,GERMANY,58,True,FEMALE,True,True,True,...,9.0,7.0,ACK,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700,False,False,SAUDI,SAUDI,23,True,FEMALE,False,True,True,...,NaN,NaN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1701,False,False,SAUDI,SAUDI,27,False,FEMALE,False,False,True,...,NaN,NaN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1702,True,True,SAUDI,SAUDI,23,False,MALE,False,False,True,...,NaN,NaN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1703,False,False,SAUDI,SAUDI,23,True,FEMALE,False,False,True,...,NaN,NaN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1704,False,False,SAUDI,SAUDI,21,False,FEMALE,False,False,True,...,NaN,NaN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN

In [7]:
# print objects with true and false 
df.select_dtypes(include=['object']).apply(lambda x: x.str.contains('TRUE|FALSE')).sum()
# if sum is > 0 then create a list of columns

background_father       0
background_mother       0
gender                  0
region                  0
diagnostic              0
itch                 1488
grew                 1092
hurt                 1484
changed              1098
bleed                1488
elevation            1492
biopsed              1494
dtype: int64

In [8]:
lsit =['itch','grew','hurt','changed','bleed','elevation','biopsed']
# convert unkown and unk to false 
df[lsit] = df[lsit].replace({'UNKOWN':False,'UNK':False,'NAN':False})

df[lsit] = df[lsit].replace({'TRUE':True,'FALSE':False})

In [9]:
def print_unique_col_values(df):
    for column in df:
        #  if df[column].dtype == 'object':
        print(f'{column}: {df[column].unique()}')

In [10]:
print_unique_col_values(df)

smoke: [False  True]
drink: [False  True]
background_father: ['POMERANIA' 'GERMANY' 'BRAZIL' 'NETHERLANDS' 'ITALY' 'POLAND' 'UNK'
 'PORTUGAL' 'UNKNOWN' 'BRASIL' 'CZECH' 'AUSTRIA' 'SPAIN' 'ISRAEL' 'SAUDI'
 'SAUDI ' 'BAHRAINI' 'BAHRAINI ' 'EGYPTIAN ']
background_mother: ['POMERANIA' 'ITALY' 'GERMANY' 'BRAZIL' 'UNK' 'UNKNOWN' 'POLAND' 'NORWAY'
 'PORTUGAL' 'NETHERLANDS' 'FRANCE' 'SPAIN' 'SAUDI' 'SAUDI ' 'BAHRAINI'
 'EGYPTIAN ' 'KUWAITI']
age: [55 79 52 74 58 34 78 77 60 64 61 71 38 54 82 62 63 49 31 36 75 44 56 80
 76 48 51 47 35 87 53 69 59 57 83 92 67 46 66 70 85 41 65 72 14 21 94 73
 43 90 89 39 26 40 13 30 68 50 22 81 84 88 86 37 32 45 27 33 20 91 42 17
 16 24 23 19 18 25]
pesticide: [False  True]
gender: ['FEMALE' 'MALE']
skin_cancer_history: [ True False]
cancer_history: [ True False]
has_piped_water: [ True False]
has_sewage_system: [ True False]
fitspatrick: [ 3.  1.  2.  4.  5.  6. nan]
region: ['NECK' 'FOREARM' 'FACE' 'NOSE' 'CHEST' 'THIGH' 'EAR' 'BACK' 'ARM' 'HAND'
 'FOOT' 'SCALP' 'ABDOMEN' 'LIP' 'NAN']
diameter_1: [  6.    5.   15.    9.   20.   14.   13.    3.    7.   10.    8.   11.
   4.   40.   18.   32.   23.   16.   12.   30.   19.    2.   17.   22.
  24.   31.   35.   25.   21.    0.   60.    1.    1.2  89.   26.   42.
  29.   90.  100.   70.   45.   50.    nan]
diameter_2: [ 5.  10.   7.   4.  18.  12.  13.   3.   8.   9.   6.  11.  20.  15.
 24.   2.  14.  21.  16.  25.   1.   0.  33.  40.  23.  17.  27.  22.
 30.   1.2 26.  34.  19.  70.  60.  28.  32.  48.   nan]
diagnostic: ['BCC' 'ACK' 'SCC' 'SEK' 'NEV' 'MEL' 'NAN']
itch: [ True False]
grew: [ True False]
hurt: [False  True]
changed: [ True False]
bleed: [ True False]
elevation: [ True False]
biopsed: [ True False]

In [11]:
# print objects with true and false 
df.select_dtypes(include=['object']).apply(lambda x: x.str.contains('TRUE|FALSE')).sum()

background_father    0
background_mother    0
gender               0
region               0
diagnostic           0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   smoke                1705 non-null   bool
 1   drink                1705 non-null   bool
 2   background_father    1705 non-null   object
 3   background_mother    1705 non-null   object
 4   age                  1705 non-null   int64
 5   pesticide            1705 non-null   bool
 6   gender               1705 non-null   object
 7   skin_cancer_history  1705 non-null   bool
 8   cancer_history       1705 non-null   bool
 9   has_piped_water      1705 non-null   bool
 10  has_sewage_system    1705 non-null   bool
 11  fitspatrick          1494 non-null   float64
 12  region               1705 non-null   object
 13  diameter_1           1494 non-null   float64
 14  diameter_2           1494 non-null   float64
 15  diagnostic           1705 non-null   object
 16  itch                 1705 non-null   bool
 17  grew                 1705 non-null   bool
 18  hurt                 1705 non-null   bool
 19  changed              1705 non-null   bool
 20  bleed                1705 non-null   bool
 21  elevation            1705 non-null   bool
 22  biopsed              1705 non-null   bool
dtypes: bool(14), float64(3), int64(1), object(5)
memory usage: 143.3+ KB

In [13]:
# print unique values in diagnosis
df['diagnostic'].unique()
# REPLACE nAn with healthy
df['diagnostic'] = df['diagnostic'].replace({'NAN':'HEALTHY'})

In [14]:
df['diagnostic'].unique()
diagnosis=['BCC', 'ACK', 'SCC', 'SEK', 'NEV', 'MEL']

df['diagnostic'] = df['diagnostic'].replace(diagnosis, 1).fillna(0)

df['diagnostic'] = df['diagnostic'].replace({'HEALTHY':0})

In [15]:
df['diagnostic'].unique()

array([1, 0])

In [16]:
df.diagnostic.value_counts()

1    1494
0     211
Name: diagnostic, dtype: int64

In [17]:
df.isnull().sum()

smoke                    0
drink                    0
background_father        0
background_mother        0
age                      0
pesticide                0
gender                   0
skin_cancer_history      0
cancer_history           0
has_piped_water          0
has_sewage_system        0
fitspatrick            211
region                   0
diameter_1             211
diameter_2             211
diagnostic               0
itch                     0
grew                     0
hurt                     0
changed                  0
bleed                    0
elevation                0
biopsed                  0
dtype: int64

In [18]:
# fill diameter_2  diameter_1 fitspatrick with 0 
df['diameter_2'] = df['diameter_2'].fillna(0)
df['diameter_1'] = df['diameter_1'].fillna(0)
df['fitspatrick'] = df['fitspatrick'].fillna(0)

In [19]:
df.isnull().sum()

smoke                  0
drink                  0
background_father      0
background_mother      0
age                    0
pesticide              0
gender                 0
skin_cancer_history    0
cancer_history         0
has_piped_water        0
has_sewage_system      0
fitspatrick            0
region                 0
diameter_1             0
diameter_2             0
diagnostic             0
itch                   0
grew                   0
hurt                   0
changed                0
bleed                  0
elevation              0
biopsed                0
dtype: int64

In [20]:
df

,smoke,drink,background_father,background_mother,age,pesticide,gender,skin_cancer_history,cancer_history,has_piped_water,...,diameter_1,diameter_2,diagnostic,itch,grew,hurt,changed,bleed,elevation,biopsed
0,False,False,POMERANIA,POMERANIA,55,False,FEMALE,True,True,True,...,6.0,5.0,1,True,True,False,True,True,True,True
1,False,True,POMERANIA,POMERANIA,79,False,MALE,True,False,False,...,5.0,5.0,1,True,True,False,False,True,True,True
2,False,True,GERMANY,ITALY,52,False,FEMALE,False,True,True,...,15.0,10.0,1,False,True,False,True,True,True,True
3,False,False,POMERANIA,POMERANIA,74,True,FEMALE,False,False,False,...,15.0,10.0,1,True,True,True,False,True,True,True
4,False,True,GERMANY,GERMANY,58,True,FEMALE,True,True,True,...,9.0,7.0,1,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700,False,False,SAUDI,SAUDI,23,True,FEMALE,False,True,True,...,0.0,0.0,0,False,False,False,False,False,False,False
1701,False,False,SAUDI,SAUDI,27,False,FEMALE,False,False,True,...,0.0,0.0,0,False,False,False,False,False,False,False
1702,True,True,SAUDI,SAUDI,23,False,MALE,False,False,True,...,0.0,0.0,0,False,False,False,False,False,False,False
1703,False,False,SAUDI,SAUDI,23,True,FEMALE,False,False,True,...,0.0,0.0,0,False,False,False,False,False,False,False
1704,False,False,SAUDI,SAUDI,21,False,FEMALE,False,False,True,...,0.0,0.0,0,False,False,False,False,False,False,False

In [21]:
# gender replace with 0 and 1
df['gender'] = df['gender'].replace({'FEMALE': 0, 'MALE': 1})

In [22]:
# ITS A NUMPY NaN FILL with Unknown
df['region'] = df['region'].replace({'NAN':'UNKNOWN'})

In [23]:
df['background_father'] = df['background_father'].replace({'UNK':'UNKNOWN'})
df['background_mother'] = df['background_mother'].replace({'UNK':'UNKNOWN'})

In [24]:
print_unique_col_values(df)

smoke: [False  True]
drink: [False  True]
background_father: ['POMERANIA' 'GERMANY' 'BRAZIL' 'NETHERLANDS' 'ITALY' 'POLAND' 'UNKNOWN'
 'PORTUGAL' 'BRASIL' 'CZECH' 'AUSTRIA' 'SPAIN' 'ISRAEL' 'SAUDI' 'SAUDI '
 'BAHRAINI' 'BAHRAINI ' 'EGYPTIAN ']
background_mother: ['POMERANIA' 'ITALY' 'GERMANY' 'BRAZIL' 'UNKNOWN' 'POLAND' 'NORWAY'
 'PORTUGAL' 'NETHERLANDS' 'FRANCE' 'SPAIN' 'SAUDI' 'SAUDI ' 'BAHRAINI'
 'EGYPTIAN ' 'KUWAITI']
age: [55 79 52 74 58 34 78 77 60 64 61 71 38 54 82 62 63 49 31 36 75 44 56 80
 76 48 51 47 35 87 53 69 59 57 83 92 67 46 66 70 85 41 65 72 14 21 94 73
 43 90 89 39 26 40 13 30 68 50 22 81 84 88 86 37 32 45 27 33 20 91 42 17
 16 24 23 19 18 25]
pesticide: [False  True]
gender: [0 1]
skin_cancer_history: [ True False]
cancer_history: [ True False]
has_piped_water: [ True False]
has_sewage_system: [ True False]
fitspatrick: [3. 1. 2. 4. 5. 6. 0.]
region: ['NECK' 'FOREARM' 'FACE' 'NOSE' 'CHEST' 'THIGH' 'EAR' 'BACK' 'ARM' 'HAND'
 'FOOT' 'SCALP' 'ABDOMEN' 'LIP' 'UNKNOWN']
diameter_1: [  6.    5.   15.    9.   20.   14.   13.    3.    7.   10.    8.   11.
   4.   40.   18.   32.   23.   16.   12.   30.   19.    2.   17.   22.
  24.   31.   35.   25.   21.    0.   60.    1.    1.2  89.   26.   42.
  29.   90.  100.   70.   45.   50. ]
diameter_2: [ 5.  10.   7.   4.  18.  12.  13.   3.   8.   9.   6.  11.  20.  15.
 24.   2.  14.  21.  16.  25.   1.   0.  33.  40.  23.  17.  27.  22.
 30.   1.2 26.  34.  19.  70.  60.  28.  32.  48. ]
diagnostic: [1 0]
itch: [ True False]
grew: [ True False]
hurt: [False  True]
changed: [ True False]
bleed: [ True False]
elevation: [ True False]
biopsed: [ True False]

In [25]:
# save to csv   
# df.to_csv('../Data/cleaned_combined_skin_cancer.csv', index=False)

In [26]:
! pip install category_encoders

Requirement already satisfied: category_encoders in /Users/maryam/opt/anaconda3/lib/python3.9/site-packages (2.6.3)
Requirement already satisfied: numpy>=1.14.0 in /Users/maryam/opt/anaconda3/lib/python3.9/site-packages (from category_encoders) (1.24.3)
Requirement already satisfied: scikit-learn>=0.20.0 in /Users/maryam/opt/anaconda3/lib/python3.9/site-packages (from category_encoders) (1.0.2)
Requirement already satisfied: scipy>=1.0.0 in /Users/maryam/opt/anaconda3/lib/python3.9/site-packages (from category_encoders) (1.9.1)
Requirement already satisfied: statsmodels>=0.9.0 in /Users/maryam/opt/anaconda3/lib/python3.9/site-packages (from category_encoders) (0.13.2)
Requirement already satisfied: pandas>=1.0.5 in /Users/maryam/opt/anaconda3/lib/python3.9/site-packages (from category_encoders) (1.4.2)
Requirement already satisfied: patsy>=0.5.1 in /Users/maryam/opt/anaconda3/lib/python3.9/site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/maryam/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/maryam/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.5->category_encoders) (2023.3.post1)
Requirement already satisfied: six in /Users/maryam/opt/anaconda3/lib/python3.9/site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=0.11 in /Users/maryam/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/maryam/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: packaging>=21.3 in /Users/maryam/opt/anaconda3/lib/python3.9/site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/maryam/opt/anaconda3/lib/python3.9/site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.4)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [27]:
import pandas as pd
from sklearn.feature_extraction import FeatureHasher

# Load your dataset
data = df.copy()

# Selecting the categorical columns to be encoded
categorical_cols = ['background_father', 'background_mother','region']

# Initialize the FeatureHasher with a specified number of features
hasher = FeatureHasher(n_features=10, input_type='string')

for col in categorical_cols:
    # Transform the column
    hashed_features = hasher.transform(data[col].astype(str))
    
    # Convert the sparse matrix to a dense DataFrame
    hashed_features_df = pd.DataFrame(hashed_features.toarray())
    
    # Naming the new columns
    hashed_features_df.columns = [f"{col}_hash_{i}" for i in range(hashed_features_df.shape[1])]
    
    # Drop the original column from the dataframe
    data.drop(col, axis=1, inplace=True)

    # Concatenate the new columns to the original dataframe
    data = pd.concat([data, hashed_features_df], axis=1)

# Display the first few rows of the modified DataFrame
print(data.head())

   smoke  drink  age  pesticide  gender  skin_cancer_history  cancer_history  \
0  False  False   55      False       0                 True            True
1  False   True   79      False       1                 True           False
2  False   True   52      False       0                False            True
3  False  False   74       True       0                False           False
4  False   True   58       True       0                 True            True

   has_piped_water  has_sewage_system  fitspatrick  ...  region_hash_0  \
0             True               True          3.0  ...           -1.0
1            False              False          1.0  ...            1.0
2             True               True          3.0  ...            0.0
3            False              False          1.0  ...            0.0
4             True               True          1.0  ...            1.0

   region_hash_1  region_hash_2  region_hash_3  region_hash_4  region_hash_5  \
0           -1.0            0.0            0.0            0.0            0.0
1            0.0            2.0            0.0            0.0            0.0
2           -1.0            1.0            0.0            0.0            0.0
3           -1.0            1.0            0.0            0.0            0.0
4            0.0            2.0            0.0            0.0            0.0

   region_hash_6  region_hash_7  region_hash_8  region_hash_9
0            0.0            0.0            0.0            0.0
1            0.0            1.0           -1.0            2.0
2            0.0            1.0           -1.0            0.0
3            0.0            1.0           -1.0            0.0
4            0.0            1.0           -1.0            2.0

[5 rows x 50 columns]

In [28]:
# Your data now has the hashed features
data

,smoke,drink,age,pesticide,gender,skin_cancer_history,cancer_history,has_piped_water,has_sewage_system,fitspatrick,...,region_hash_0,region_hash_1,region_hash_2,region_hash_3,region_hash_4,region_hash_5,region_hash_6,region_hash_7,region_hash_8,region_hash_9
0,False,False,55,False,0,True,True,True,True,3.0,...,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,False,True,79,False,1,True,False,False,False,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,-1.0,2.0
2,False,True,52,False,0,False,True,True,True,3.0,...,0.0,-1.0,1.0,0.0,0.0,0.0,0.0,1.0,-1.0,0.0
3,False,False,74,True,0,False,False,False,False,1.0,...,0.0,-1.0,1.0,0.0,0.0,0.0,0.0,1.0,-1.0,0.0
4,False,True,58,True,0,True,True,True,True,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,-1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700,False,False,23,True,0,False,True,True,True,0.0,...,-2.0,0.0,1.0,0.0,-1.0,0.0,0.0,-3.0,0.0,0.0
1701,False,False,27,False,0,False,False,True,True,0.0,...,-2.0,0.0,1.0,0.0,-1.0,0.0,0.0,-3.0,0.0,0.0
1702,True,True,23,False,1,False,False,True,True,0.0,...,-2.0,0.0,1.0,0.0,-1.0,0.0,0.0,-3.0,0.0,0.0
1703,False,False,23,True,0,False,False,True,False,0.0,...,-2.0,0.0,1.0,0.0,-1.0,0.0,0.0,-3.0,0.0,0.0
1704,False,False,21,False,0,False,False,True,True,0.0,...,-2.0,0.0,1.0,0.0,-1.0,0.0,0.0,-3.0,0.0,0.0

In [29]:
print_unique_col_values(data)

smoke: [False  True]
drink: [False  True]
age: [55 79 52 74 58 34 78 77 60 64 61 71 38 54 82 62 63 49 31 36 75 44 56 80
 76 48 51 47 35 87 53 69 59 57 83 92 67 46 66 70 85 41 65 72 14 21 94 73
 43 90 89 39 26 40 13 30 68 50 22 81 84 88 86 37 32 45 27 33 20 91 42 17
 16 24 23 19 18 25]
pesticide: [False  True]
gender: [0 1]
skin_cancer_history: [ True False]
cancer_history: [ True False]
has_piped_water: [ True False]
has_sewage_system: [ True False]
fitspatrick: [3. 1. 2. 4. 5. 6. 0.]
diameter_1: [  6.    5.   15.    9.   20.   14.   13.    3.    7.   10.    8.   11.
   4.   40.   18.   32.   23.   16.   12.   30.   19.    2.   17.   22.
  24.   31.   35.   25.   21.    0.   60.    1.    1.2  89.   26.   42.
  29.   90.  100.   70.   45.   50. ]
diameter_2: [ 5.  10.   7.   4.  18.  12.  13.   3.   8.   9.   6.  11.  20.  15.
 24.   2.  14.  21.  16.  25.   1.   0.  33.  40.  23.  17.  27.  22.
 30.   1.2 26.  34.  19.  70.  60.  28.  32.  48. ]
diagnostic: [1 0]
itch: [ True False]
grew: [ True False]
hurt: [False  True]
changed: [ True False]
bleed: [ True False]
elevation: [ True False]
biopsed: [ True False]
background_father_hash_0: [ 1.  0. -2. -1.]
background_father_hash_1: [-1.  0. -2. -3.]
background_father_hash_2: [3. 1. 0. 2.]
background_father_hash_3: [0.]
background_father_hash_4: [ 1.  0. -1.  2.]
background_father_hash_5: [0.]
background_father_hash_6: [0. 1.]
background_father_hash_7: [ 0. -1. -3.  1.]
background_father_hash_8: [ 0. -1.]
background_father_hash_9: [1. 2. 0.]
background_mother_hash_0: [ 1.  0. -2. -1.]
background_mother_hash_1: [-1. -2.  0. -3.]
background_mother_hash_2: [3. 1. 0. 2.]
background_mother_hash_3: [0.]
background_mother_hash_4: [ 1.  0. -1.  2.]
background_mother_hash_5: [0.]
background_mother_hash_6: [0. 1.]
background_mother_hash_7: [ 0. -1. -3. -2.]
background_mother_hash_8: [ 0. -1.]
background_mother_hash_9: [1. 0. 2.]
region_hash_0: [-1.  1.  0. -2.]
region_hash_1: [-1.  0. -2. -3.]
region_hash_2: [0. 2. 1.]
region_hash_3: [0.]
region_hash_4: [ 0.  1. -1.]
region_hash_5: [0.]
region_hash_6: [0. 1.]
region_hash_7: [ 0.  1. -1. -3.]
region_hash_8: [ 0. -1.]
region_hash_9: [0. 2. 1. 3.]

In [30]:
data.to_csv('../Data/hashed_combined.csv', index=False)

In [31]:
df2= pd.read_csv('hashed_combined.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'hashed_combined.csv'

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   smoke                     1705 non-null   bool
 1   drink                     1705 non-null   bool
 2   age                       1705 non-null   int64
 3   pesticide                 1705 non-null   bool
 4   gender                    1705 non-null   int64
 5   skin_cancer_history       1705 non-null   bool
 6   cancer_history            1705 non-null   bool
 7   has_piped_water           1705 non-null   bool
 8   has_sewage_system         1705 non-null   bool
 9   fitspatrick               1705 non-null   float64
 10  diameter_1                1705 non-null   float64
 11  diameter_2                1705 non-null   float64
 12  diagnostic                1705 non-null   int64
 13  itch                      1705 non-null   bool
 14  grew                      1705 non-null   bool
 15  hurt                      1705 non-null   bool
 16  changed                   1705 non-null   bool
 17  bleed                     1705 non-null   bool
 18  elevation                 1705 non-null   bool
 19  biopsed                   1705 non-null   bool
 20  background_father_hash_0  1705 non-null   float64
 21  background_father_hash_1  1705 non-null   float64
 22  background_father_hash_2  1705 non-null   float64
 23  background_father_hash_3  1705 non-null   float64
 24  background_father_hash_4  1705 non-null   float64
 25  background_father_hash_5  1705 non-null   float64
 26  background_father_hash_6  1705 non-null   float64
 27  background_father_hash_7  1705 non-null   float64
 28  background_father_hash_8  1705 non-null   float64
 29  background_father_hash_9  1705 non-null   float64
 30  background_mother_hash_0  1705 non-null   float64
 31  background_mother_hash_1  1705 non-null   float64
 32  background_mother_hash_2  1705 non-null   float64
 33  background_mother_hash_3  1705 non-null   float64
 34  background_mother_hash_4  1705 non-null   float64
 35  background_mother_hash_5  1705 non-null   float64
 36  background_mother_hash_6  1705 non-null   float64
 37  background_mother_hash_7  1705 non-null   float64
 38  background_mother_hash_8  1705 non-null   float64
 39  background_mother_hash_9  1705 non-null   float64
 40  region_hash_0             1705 non-null   float64
 41  region_hash_1             1705 non-null   float64
 42  region_hash_2             1705 non-null   float64
 43  region_hash_3             1705 non-null   float64
 44  region_hash_4             1705 non-null   float64
 45  region_hash_5             1705 non-null   float64
 46  region_hash_6             1705 non-null   float64
 47  region_hash_7             1705 non-null   float64
 48  region_hash_8             1705 non-null   float64
 49  region_hash_9             1705 non-null   float64
dtypes: bool(14), float64(33), int64(3)
memory usage: 503.0 KB

In [ ]:
# Statistical Analysis for Numerical Features min max mean std  
df.describe()

NameError: name 'df' is not defined